@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)),
    url("/UEX24-WebPortfolio/images/galaxy.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: thin; /* for Firefox */
  height: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  scroll-behavior: smooth;
  scrollbar-color: rgba(255, 255, 255, 0.7) transparent; /* For Firefox */
  background-color: black;
}

/* Set transparent scrollbar styles for WebKit browsers */
/* Note: Use "scrollbar-color" for Firefox (see below) */
::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background-color: transparent; /* Make the thumb (handle) transparent */
}

::-webkit-scrollbar-track {
  background-color: transparent; /* Make the track (bar) transparent */
}

.glitch-effect {
  animation: glitch 1s linear;
}

@keyframes glitch {
  2%,
  64% {
    transform: translate(2px, 0) skew(0deg);
  }
  4%,
  60% {
    transform: translate(-2px, 0) skew(0deg);
  }
  62% {
    transform: translate(0px, 0px) skew(5deg);
  }
}
.glitch-effect:before,
.glitch-effect:after {
  content: attr(title);
  position: absolute;
  left: 0;
  pointer-events: none;
}
.glitch-effect:before {
  animation: glitchtop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}
@keyframes glitchtop {
  2%,
  64% {
    transform: translate(2px, -2px);
  }
  4%,
  60% {
    transform: translate(-2px, 2px);
  }
  62% {
    transform: translate(13px, -1px) skew(-13deg);
  }
}
.glitch-effect:after {
  animation: glitchbottom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  pointer-events: none;
}
@keyframes glitchbottom {
  2%,
  64% {
    transform: translate(-2px, 0);
  }
  4%,
  60% {
    transform: translate(-2px, 0);
  }
  62% {
    transform: translate(-22px, 5px) skew(21deg);
  }
}
